In [1]:
import pandas as pd
import xgboost as xgb
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
base = pd.read_csv("stacked_full.csv")
base["base"] = 1
base.head()

,0,1,2,3,4,5,6,7,8,9,...,144,145,146,147,148,149,lw,sae,can,base
0,0.055128,0.0,0.015385,0.067949,0.024359,0.020513,0.060256,0.028205,0.032051,0.030769,...,0.00554,0.016620,0.008310,0.008310,0.011080,0.011080,cWW,19-XIX,True,1
1,0.050941,0.0,0.046512,0.040975,0.023256,0.035437,0.037652,0.036545,0.034330,0.037652,...,0.00000,0.002392,0.000000,0.000000,0.002392,0.002392,cWW,19-XIX,True,1
2,0.052265,0.0,0.039489,0.045296,0.022067,0.032520,0.040650,0.034843,0.038328,0.038328,...,0.00000,0.000000,0.047619,0.659148,0.060150,0.002506,cWW,20-XX,True,1
3,0.052265,0.0,0.049942,0.038328,0.022067,0.041812,0.034843,0.037166,0.032520,0.041812,...,0.00000,0.005013,0.002506,0.000000,0.002506,0.002506,cWW,20-XX,True,1
4,0.050941,0.0,0.048726,0.037652,0.023256,0.033223,0.040975,0.040975,0.027685,0.042082,...,0.00000,0.000000,0.002392,0.000000,0.000000,0.004785,cWW,19-XIX,True,1

In [4]:
non_base = pd.read_csv("non_base_some.csv")
non_base.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,base
0,0.045296,0.006969,0.004646,0.063879,0.024390,0.010453,0.026713,0.036005,0.019744,0.030197,...,0.004646,0.005807,0.005807,0.003484,0.002323,0.001161,0.001161,0.001161,0.001161,0
1,0.039489,0.012776,0.000000,0.011614,0.060395,0.019744,0.008130,0.013937,0.033682,0.018583,...,0.019744,0.023229,0.012776,0.018583,0.005807,0.005807,0.006969,0.000000,0.002323,0
2,0.039394,0.010101,0.000000,0.036364,0.040404,0.009091,0.014141,0.031313,0.024242,0.018182,...,0.002020,0.004040,0.003030,0.004040,0.002020,0.000000,0.000000,0.000000,0.001010,0
3,0.037374,0.012121,0.000000,0.020202,0.049495,0.014141,0.015152,0.013131,0.041414,0.020202,...,0.004040,0.000000,0.003030,0.002020,0.001010,0.000000,0.001010,0.000000,0.002020,0
4,0.030303,0.019192,0.000000,0.002020,0.032323,0.039394,0.011111,0.010101,0.012121,0.045455,...,0.004040,0.005051,0.000000,0.003030,0.003030,0.000000,0.000000,0.000000,0.001010,0

In [5]:
X_base = base.drop([str(i) for i in range(50,150)], axis=1)
X_base = X_base.drop(['lw', 'can', 'sae', 'base'], axis=1)

In [6]:
X_base.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.055128,0.0,0.015385,0.067949,0.024359,0.020513,0.060256,0.028205,0.032051,0.030769,...,0.003846,0.010256,0.008974,0.003846,0.006410,0.005128,0.001282,0.002564,0.001282,0.001282
1,0.050941,0.0,0.046512,0.040975,0.023256,0.035437,0.037652,0.036545,0.034330,0.037652,...,0.011074,0.005537,0.004430,0.004430,0.002215,0.004430,0.002215,0.000000,0.000000,0.001107
2,0.052265,0.0,0.039489,0.045296,0.022067,0.032520,0.040650,0.034843,0.038328,0.038328,...,0.012776,0.005807,0.003484,0.003484,0.006969,0.002323,0.002323,0.000000,0.000000,0.001161
3,0.052265,0.0,0.049942,0.038328,0.022067,0.041812,0.034843,0.037166,0.032520,0.041812,...,0.011614,0.005807,0.004646,0.004646,0.002323,0.004646,0.002323,0.000000,0.000000,0.001161
4,0.050941,0.0,0.048726,0.037652,0.023256,0.033223,0.040975,0.040975,0.027685,0.042082,...,0.009967,0.006645,0.005537,0.003322,0.005537,0.002215,0.003322,0.000000,0.000000,0.001107

In [7]:
X_non_base = non_base.drop(['base'], axis=1)

In [8]:
X_non_base.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.045296,0.006969,0.004646,0.063879,0.024390,0.010453,0.026713,0.036005,0.019744,0.030197,...,0.000000,0.004646,0.005807,0.005807,0.003484,0.002323,0.001161,0.001161,0.001161,0.001161
1,0.039489,0.012776,0.000000,0.011614,0.060395,0.019744,0.008130,0.013937,0.033682,0.018583,...,0.026713,0.019744,0.023229,0.012776,0.018583,0.005807,0.005807,0.006969,0.000000,0.002323
2,0.039394,0.010101,0.000000,0.036364,0.040404,0.009091,0.014141,0.031313,0.024242,0.018182,...,0.008081,0.002020,0.004040,0.003030,0.004040,0.002020,0.000000,0.000000,0.000000,0.001010
3,0.037374,0.012121,0.000000,0.020202,0.049495,0.014141,0.015152,0.013131,0.041414,0.020202,...,0.003030,0.004040,0.000000,0.003030,0.002020,0.001010,0.000000,0.001010,0.000000,0.002020
4,0.030303,0.019192,0.000000,0.002020,0.032323,0.039394,0.011111,0.010101,0.012121,0.045455,...,0.006061,0.004040,0.005051,0.000000,0.003030,0.003030,0.000000,0.000000,0.000000,0.001010

In [9]:
X = pd.concat([X_base, X_non_base], ignore_index=True, sort=False)
y_non_base = non_base["base"]
y_base = base["base"]
y = pd.concat([y_base, y_non_base], ignore_index=True, sort=False)

# Base

In [10]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
y_labeled = label_encoder.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(X, y_labeled, test_size=0.2, random_state=42)

model = xgb.XGBClassifier()

model.fit(X_train, y_train)

predictions = model.predict(X_test)

y_test = label_encoder.inverse_transform(y_test)
predictions = label_encoder.inverse_transform(predictions)

accuracy = accuracy_score(y_test, predictions)

print("Accuracy:", accuracy)
print("\nClassification Report:")
print(classification_report(y_test, predictions))

Accuracy: 0.9133851684641753

Classification Report:
              precision    recall  f1-score   support

           0       0.91      0.91      0.91     47915
           1       0.91      0.91      0.91     47773

    accuracy                           0.91     95688
   macro avg       0.91      0.91      0.91     95688
weighted avg       0.91      0.91      0.91     95688